/* Bootstrap Overrides */
.no-pad {
    padding: 0;
}
.no-margin {
    margin: 0;
}

/* Resets */
body, html, li, ul, ol, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

/* Default Styles */
body {
    height: 100%;
    font-size: 14px;
}

.vert-wrp {
    position: relative;
}

.vert-cell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Scrollbar override - #575556 (Grey) & #ED610C (Orange)  */
::-webkit-scrollbar              {width: 7px; height: 7px; background: #575556; color: #ED610C; }
::-webkit-scrollbar-button       { display: none; }
::-webkit-scrollbar-track        { background: #575556; }
::-webkit-scrollbar-track-piece  { background: #575556; }
::-webkit-scrollbar-thumb        { background: #ED610C; border: 0; outline: 0; }
::-webkit-scrollbar-corner       { background: #575556; }
/*::-webkit-resizer                { background: #090908; color: #fff400; }*/

/* Nav Bar */
.main-nav {
    background: #090908;
    background: rgb(9,9,8);
    background: rgba(9,9,8,0.7);
    height: 100vh;
    width: auto;
}

.main-nav.left {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
}

.main-nav nav, .mian-nav ul {
    width: 100%;
}

.main-nav li, .main-nav li a {
    display: block;
    width: 100%;
}

.main-nav li a {
    text-align: left;
    color: #FFF;
    font-size: 150%;
    padding: 1em;
}

.main-nav li a:hover {
    color: #090908;
    background: #FFF;
}

.main-nav li.menu-icon a:first-of-type {
    text-align: right;
}

.main-nav li a span.labelTag {
    font-size: 80%;
    font-weight: 100;
    padding: 0 5px;
    display: none;
}

.main-nav li a span.labelTag:hover {
    color: #090908;
}

.main-nav li a.icon span.labelTag:hover, .main-nav li a.icon:hover {
    color: #FFF;
}

.labelActive {
    display: inline-block !important;
}

/* Menu animations */
.rotate{
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.rotate.spin180{
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}


/* Social Bar */
.social-wrp {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: left;
}

.icon {
    display: block;
}

.social-wrp .icon:hover i {
    color: #FFF;
}

.facebook i {
    color: #3b5998;
}

li a.facebook:hover {
    background: #3b5998;
}

.twitter i {
    color: #1da1f2;
}

li a.twitter:hover {
    background: #1da1f2;
}

.googleplus i {
    color: #dd4b39;
}

li a.googleplus:hover {
    background: #dd4b39;
}

.linkedin i {
    color: #0077b5;
}

li a.linkedin:hover {
    background: #0077b5;
}

.pinterest i {
    color: #bd081c;
}

li a.pinterest:hover {
    background: #bd081c;
}

.youtube i {
    color: #cd201f;
}

li a.youtube:hover {
    background: #cd201f;
}



/* Demo Styles */
/* Scene 1 */
.animation-type {
    position: relative;
    font-size: 500%;
    font-weight: 900;
    margin: 3em auto;
    display: block;
    text-transform: uppercase;
}

/* Scene 2 */
#scene_2 {
    padding: 0;
}

.cube {
    color: #FFF;
    min-width: 50%;
    min-height: 50vh;
    text-align: center;
    position: relative;
    display: table;
    padding: 0;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.top-left {
    background: #BE151F;
    background: rgb(190,21,31);
    background: rgba(190,21,31,1);
}

.top-right {
    background: #1BDEEF;
    background: rgb(27,222,239);
    background: rgba(27,222,239,1);
}

.bottom-left {
    background: #563763;
    background: rgb(86,55,99);
    background: rgba(86,55,99,1);
}

.bottom-right {
    background: #4833B4;
    background: rgb(72,51,180);
    background: rgba(72,51,180,1);
}


/* Scene 3 */
#scene_3 {
    padding: 0;
}

.horizontal-curtain {
    color: #FFF;
    min-width: 50%;
    min-height: 100vh;
    text-align: center;
    position: relative;
    display: table;
    padding: 0;
}

.left-curtain,
.right-curtain {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.left-curtain {
    background: #D97410;
    background: rgb(217,116,16);
    background: rgba(217,116,16,1);
}

.right-curtain {
    background: #D97410;
    background: rgb(217,116,16);
    background: rgba(217,116,16,1);
}


/* Scene 4 */
#scene_4 {
    padding: 0;
    overflow: hidden;
}

.vertical-curtain {
    color: #FFF;
    min-width: 100%;
    min-height: 50vh;
    text-align: center;
    position: relative;
    display: table;
    padding: 0;
}

.top-curtain,
.bottom-curtain {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.top-curtain {
    background: #2F6E8C;
    background: rgb(47,110,140);
    background: rgba(47,110,140,1);
}

.bottom-curtain {
    background: #2F6E8C;
    background: rgb(47,110,140);
    background: rgba(47,110,140,1);
}



/* Scene Styles - Generic */
.stop-bloat {
    overflow: hidden;
}

.scene {
    width: 100%;
    height: 100vh;
    padding: 50px;
    /*overflow: hidden;*/
}

.scene-content {
    text-align: center;
}

/* Scene Backgrounds */
#scene_1 {
    /* Coloured background */
    background: #4833B4;
    background: rgb(72,51,180);
    background: rgba(72,51,180,1);

    /* Image background */
    /*background: url('//placehold.it/1920x1080') no-repeat center center;*/
    /*-webkit-background-size:cover;*/
    /*background-size: cover;*/

    /* Font primary colour */
    color: #FFF;
}

#scene_2 {
    /* Coloured background */
    background: #D2B609;
    background: rgb(210,182,9);
    background: rgba(210,182,9,1);

    /* Image background */
    /*background: url('//placehold.it/1920x1080') no-repeat center center;*/
    /*-webkit-background-size:cover;*/
    /*background-size: cover;*/

    /* Font primary colour */
    color: #FFF;
}

#scene_3 {
    /* Coloured background */
    background: #54E529;
    background: rgb(84,229,41);
    background: rgba(84,229,41,1);

    /* Image background */
    /*background: url('//placehold.it/1920x1080') no-repeat center center;*/
    /*-webkit-background-size:cover;*/
    /*background-size: cover;*/

    /* Font primary colour */
    color: #FFF;
}

#scene_4 {
    /* Coloured background */
    background: #BE151F;
    background: rgb(190,21,31);
    background: rgba(190,21,31,1);

    /* Image background */
    /*background: url('//placehold.it/1920x1080') no-repeat center center;*/
    /*-webkit-background-size:cover;*/
    /*background-size: cover;*/

    /* Font primary colour */
    color: #FFF;
}


/* Animations Settings */
#scene_1 h1 {
    position: relative;
}


/* ############### MEDIA QUERIES ############### */

/* ##### @MEDIA: > 359  ##### */
@media screen and (max-width: 359px) {

} /* END OF: @media - > 359px */


/* ##### @MEDIA: 360 -> 479  ##### */
@media screen and (min-width: 360px) and (max-width: 479px) {

} /* END OF: @media - > 360px -> 479px */


/* ##### @MEDIA: 480 -> 767  ##### */
@media screen and (min-width: 480px) and (max-width: 767px) {

} /* END OF: @media - > 480px -> 767px */


/* ##### @MEDIA: 768 -> 1023  ##### */
@media screen and (min-width: 768px) and (max-width: 1023px) {

} /* END OF: @media - > 768px -> 1023px */


/* ##### @MEDIA: 1024 -> 1223  ##### */
@media screen and (min-width: 1024px) and (max-width: 1223px) {

} /* END OF: @media - > 1024px -> 1223px */


/* ##### @MEDIA: 1224 -> 1823  ##### */
@media screen and (min-width: 1224px) and (max-width: 1823px) {

} /* END OF: @media - > 1224px -> 1823px */


/* ##### @MEDIA: > 1824  ##### */
@media screen and (min-width: 1824px)  {

} /* END OF: @media - > 1824px  */
